.header {
    grid-area: h;
    background: #FFFFFF;
    display: flex;
    align-items: center;

    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid #F0F7FF;
}

.header img {
    /*position: absolute;
    left: 1.18%;
    right: 96.04%;
    top: 1.61%;
    bottom: 93.79%;*/
    width: 55px;
}

.logo {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    font-family: Tahoma, serif;
    color: #203758;
    padding-left: 20px;
    align-items: center;
}